h1 {
  text-align: center;
}

body {
  background-color: 
}

#food_list input {
  margin-right: 5px;
}

#pantry_list input {
  margin-right: 5px;
}

h3 {
	text-align: center;
}

/*.scale-with-grid  {
	max-width: 100%;
	text-align: center;
	margin-right: 30%;
	margin-left: 30%;
}*/

.nav-row {
	text-align: center;
}